:root {
  --main-color: #fff;
  --bs-body-font-family: mfSadu;
}
@media screen and (max-width: 768px){
  :root{
    --bs-body-font-family: mfSadu-small;

  }

}
@font-face{
  font-family: mfSadu ;
  src: url("../fonts/MFSadu-Bold.otf");
}
@font-face{
  font-family: mfSadu-small ;
  src: url("../fonts/MFSadu-Medium.otf");
}
@media screen and (max-width: 768px){
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 3.5rem;
  }
}
* {
  /* start faq style */
  --bs-accordion-btn-padding-y: 10px;
  .accordion-button:focus {
    box-shadow: none;
  }
  
  .accordion-button {
    border-bottom: 1px solid var(--bs-accordion-border-color);
  }
  .accordion-button::after {
    background-image: url("../imgs/plusMainColor.svg");
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("../imgs/minus.svg");
  }
  /* end faq style */

  section {
    background-size: cover;
  }
  .background {
    background-color: rgba(0, 0, 0, 0.75);
  }
  .page-link{
    color: #fff;
  }
  .row{
    --bs-gutter-x: 1rem;
  }
  .bg-main {
    background-color: var(--main-color);
  }
  .border-main {
    border-color: var(--main-color) !important;
  }
  .text-main {
    color: var(--main-color);
  }
  .icon-footer {
    width: 5vh;
  }
  textarea::placeholder,
  input::placeholder {
    font-weight: 100;
    opacity: 0;
  }
  @media screen and (max-width: 768px) {
    .min-vh-sm-50 {
      min-height: min-content !important;
    }
    .min-vh-sm-100 {
      min-height: min-content !important;
    }
  }
  .form-check-input:checked {
    border-color: var(--main-color);
    background-color: var(--main-color);
  }
  .cards img {
    color: var(--main-color);
  }
  .card {
    --bs-card-bg: rgba(48, 47, 47, 1) !important;
    --bs-card-border-color: rgb(255 255 255 / 0%) !important;
  }
  p {
    font-size: 16px;
  }
  .bottom-25 {
    bottom: 25% !important;
  }
}
h1 {
  font-weight: 700;
}
.about-body{
  p{
     font-size: 28px;
  }
  @media (max-width: 768px){
    p{
      font-size: 16px;
    }
  }
}
[data-bs-theme="dark"] {
  --bs-body-bg: rgba(var(--bs-dark-rgb)) !important;
  --bs-tertiary-bg-rgb: 22, 22, 22;
  --bs-secondary-rgb: 26, 26, 26;
  /* start faq style */
  --bs-primary-bg-subtle: var(--bs-dark-rgb);
  --bs-primary-text-emphasis: var(--main-color);
  /* end faq style */
  .footer {
    --bs-dark-rgb: 22, 22, 22;
  }
}

.fs-1 {
  font-size: 100px !important;
}
.serv-text{
  font-size: 1.25rem !important;
  height: 230px;
}
.w-75-serv{
  width: 75% !important;
}
@media screen and (max-width: 1440px){
  .serv-text{
    font-size: 1rem !important;
    max-height: 110px !important;
    height: 107px !important;
  }
  .w-75-serv{
    width: 50% !important;
  }

  
}
.items p {
  margin: 0;
}
.main-mail-form {
  position: relative;
  bottom: 70px;
  hr {
    margin: 0;
    color: var(--main-color);
    opacity: 1;
  }
}
.navbar-expand-lg .navbar-collapse {
  justify-content: space-around;
}

.navbar-nav,
.footer {
  --bs-nav-link-font-size: 16px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--main-color);
}

.header {
  min-height: 80vh;
}

.main-head {
  min-height: 50vh;
  .card-head {
    height: 40vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#contact{
    .col-4,.col-8{
      padding: 0 !important;
      margin: 0 !important;
    }
}
